[Unit]
Description=docker-service
Author=Florian Albertz <flo.albertz@gmail.com>
After=docker.service
Requires=docker.service

[Service]
Restart=always
TimeoutStartSec=0
ExecStart=/usr/local/bin/docker-service start -d %i
ExecStop=/usr/local/bin/docker-service stop %i

[Install]
WantedBy=multi-user.target
